body
{
    background-size:cover ;
}

.heading
{
    margin: 0px;
    color:black;
    font-size: 23px;
    box-shadow:5px,5px,purple ;
    padding:10px ;
    width: 100%;
}

.note
{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

canvas
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid;
    border-color: black;
    margin-top: 70px;
}

.header
{
    font-size: 15px;
    padding:10px ;
    margin:10px ;
    box-shadow:5px,5px,pink ;
}